body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #045e9f;
    color: white;
    padding: 20px;
    text-align: center;
}


.button1, .button2, .button3, .button4 {
  border: none;
  color: red;
  padding: 35px 69px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
}

.hero {
    text-align: center;
    padding: 60px;
}

.btn {
    background: #0077cc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.form-container {
    width: 800px;
    margin: auto;
    background: white;
    padding-left: 5px;
    margin-top: 40px;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    max-width: 100%;   /* prevents overflow */
    box-sizing: border-box;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
}