body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: red;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background: red;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a:hover {
     color: red;
}

.hero a:hover {
    color: red;
}

.button1 {
  border: none;
  color: white;
  padding: 35px 69px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
}

.hero {
    text-align: center;
    padding: 60px;
}


.btn {
    background: #0077cc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.form-container {
    width: 50%;
    margin: auto;
    padding: 65px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form input {
    width: 90%;     
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    text-align: center;
}

form label {
    font-weight: bold;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;   
    background-color: red;
    padding: 10px 20px;
    position: relative;
}



.logout-btn {
    position: absolute;
    right: 20px;     
    background-color: black;
    color: white;
    border: none;
    padding: 20px 36px;
    border-radius: 5px;
    cursor: pointer;
    font-size:25px;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 10px;
}

.search-container input {
    width: 300px; 
    padding: 8px;
    font-size: 14px;
}

.search-container button {
    padding: 8px 16px;
    margin-left: 5px;
    cursor: pointer;
}

textarea {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }

